<h1><%= @page.name %></h1>
<h4><%= @page.age %></h4>
<h4><%= @page.hair_color %></h4>
<h4><%= @page.eye_color %></h4>
<h4><%= @page.gender %></h4>
<p><%= @page.alive %></p>
<%= link_to 'Back', pages_path %>
